* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
}
/*=====================================================
      Header Formatting
=======================================================*/
.header {
  height: 130px;
  background-color: #2b2b2b;
  display: flex;
  color: #979797;
  justify-content: space-between;
}

.nav-bar {
  align-self: flex-end;
  height: 70px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
  padding-left: 60px;
}

.nav-icon {
  height: 18px;
  width: 18px;
  padding-right: 8px;
}

.nav-item {
  display: inline-block;
}

.nav-item:hover {
  color: #fff;
}

.profile {
  width: 230px;
  height: 40px;
  font-size: 14px;
  color: #55b5f7;
  text-align: right;
  position: absolute;
  right: 0;
  padding: 8px 30px 0 0;
}

.profile-icon {
  height: 18px;
  width: 18px;
  padding: 2px 7px 0 0;
}

.profile-arrow {
  height: 12px;
  width: 12px;
  padding-left: 5px;
  transition: 1s;
}

.profile-arrow:hover {
  transform: rotate(360deg);
}

.logo {
  align-self: flex-end;
  font-family: 'Luckiest Guy', cursive;
  color: #fff;
  font-size: 50px;
  width: 350px;
  height: 40px;
  margin: 0 30px 15px 0;
  text-align: right;
  transition-duration: 0.5s
}

.logo:hover {
  margin: 0 28px 13px 0;
}

.logo-image {
  height: 35px;
  width: 35px;
  transition-duration: 0.5s
}

/*=====================================================
      Body Formatting
=======================================================*/

.warrior-page {
  background-color: #fff;
  color: #4E4E4E;
  margin: 20px 0 0 60px;
  font-size: 40px;
  text-decoration: underline;
}

.section {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

/*=====================================================
      Card Formatting
=======================================================*/

.card {
  background-color: #FFFFFF;
  width: 300px;
  height: 400px;
  margin: 1%;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #2b2b2b;
  font-size: 12px;
}

.flip-button {
  background-image: url(../images/forward-arrow.svg);
}

.info {
  height: 60%;
  width: 300px;
  background-color: #dfdfdf;
  margin-top: 54%;
  border-radius: 10%;
  transition: box-shadow .3s;
}

.info:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.name-div {
  display: inline-block;
}

.name {
  font-weight: 400;
  font-size: 22px;
  margin-left: 20px;
  padding-top: 15px;
  padding-bottom: 2px;
}

.rank-div {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  margin: 15px 0 0 115px;
  text-align: center;
}

.rank {
  font-weight: 400;
  font-size: 12px;
}

.rank-number {
  font-size: 30px;
  color: #55b5f7;
}

.DOB {
  font-weight: 400;
  font-size: 12px;
  margin-left: 20px;
  padding-bottom: 10px;
  color: #8a8a8a;
}

.media-container {
  margin: 6px 0 10px 20px;
  width: 240px;
  height: 30px;
  padding: 6px;
  vertical-align: center;
  background-color: #efefef;
  color: #979797;
  border-radius: 5px;
}

.social-media {
  color: #979797;
}

.social-media:hover {
  color: #2b2b2b;
}

.social-media:active {
  color: #55b5f7;
}

.style {
  margin-left: 20px;
  font-weight: 400;
  font-size: 12px;
  padding-bottom: 1px;
}

.style-type {
  margin-left: 20px;
  padding-bottom: 15px;
  font-size: 20px;
}

.streak-div {
  display: inline-block;
}

.streak {
  margin-left: 20px;
  font-weight: 400;
  font-size: 12px;
}

.streak-count {
  margin-left: 20px;
  font-size: 30px;
  color: #55b5f7;
}

.send-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 170px;
  background-image: url(../images/forward-arrow.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.send-button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.send-button:active {
  background-image: url(../images/forward-arrow-blue.svg);
}

.card-1 {
  background-image: url(../images/white-furby.jpg);
}

.card-2 {
  background-image: url(../images/black-furby.jpg);
  background-size: 300px 270px;
}

.card-3 {
  background-image: url(../images/triangle-furby.jpg);
  background-size: 300px 260px;
}

.card-4 {
  background-image: url(../images/dark-blue-furby.jpg);
  background-size: 300px 260px;
}

.card-5 {
  background-image: url(../images/zebra-furby.jpg);
  background-size: 300px 270px;
}

.card-6 {
  background-image: url(../images/mini-pink-furby.jpg);
  background-size: 300px 240px;
}

.card-7 {
  background-image: url(../images/light-blue-furby.jpg);
  background-size: 300px 260px;
}

.card-8 {
  background-image: url(../images/pink-furby.jpg);
  background-size: 300px 250px;
}

.image {
  width: 300px;
  height: 180px;
  z-index: -1;
}

.flip-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  background-image: url("../images/forward-arrow.svg");
}

/*=====================================================
      Media-Queries
=======================================================*/

@media only screen and (max-width: 860px) {
  
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
  }

  .nav-bar {
    order: 2;
    padding: 0;
    align-self: center;
    justify-content: space-around;
  }

  .profile {
    text-align: center;
    order: 3;
    position: relative;
  }

  .logo {
    order: 1;
    margin-top: 8px;
    align-self: center;
  }

  .warrior-page {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  
}






