.header {
  height: 10vw;
  background-color: magenta;
  position: relative;
}

.menu {
  background-color: blue;
  height: 70px;
  width: 600px;
  position: absolute;
  bottom: 0;
}

.profile {
  background-color: turquoise;
  height: 50px;
  width: 100px;
  position: absolute;
  right: 0;
}

.logo {
  background-color: crimson;
  height: 70px;
  width: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.section {
  height: 90vw;
  background-color: chartreuse;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: orange;
  width: 20vw;
  height: 29vw;
  margin: 1%;
}

.card-1 {
  background-color: goldenrod;
  position: relative;
}

.card-1__background-image {
  width: 100%;
  height: 35%;
  background-color: blue;
  position: absolute;
}

.card-1__button {
  position: relative;
  z-index: 1;
}

.card-1__views {
  background-color: grey;
  position: relative;
  z-index: 1;
  width: 20px;
  height: 20px;
}






