.header {
  height: 10vw;
  background-color: magenta;
}

.section {
  height: 90vw;
  background-color: chartreuse;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: orange;
  width: 20vw;
  margin: 1%;
}